Creating an empty list

In [2]:
L1=list()

In [6]:
L2=list([10,20,30])
L2

[10, 20, 30]

In [4]:
L3=list(["Apple", "Banana", "Grapes"])

In [5]:
L3

['Apple', 'Banana', 'Grapes']

In [7]:
L4=list(range(0,6))

In [8]:
L4

[0, 1, 2, 3, 4, 5]

In [9]:
L5=["XYZ"]
L5

['XYZ']

In [13]:
L1=[10,20,30]
L1

[10, 20, 30]

In [11]:
L2=["Apple", "Banana", "Orange"]

In [14]:

L2

['Apple', 'Banana', 'Orange']

In [18]:
L3=['Dep', 23, 89+8j, 78.32, 'TRUE']
L3

['Dep', 23, (89+8j), 78.32, 'TRUE']

Accessing the elements of a list

In [19]:
L3

['Dep', 23, (89+8j), 78.32, 'TRUE']

In [20]:
L3[0]

'Dep'

In [25]:
range(6)

range(0, 6)

In [21]:
L3[1]

23

In [26]:
L3[4]

'TRUE'

NEGATIVE LIST INDICES

In [27]:
L3[-1]

'TRUE'

In [28]:
L3[-3]

(89+8j)

In [29]:
Len(L3)

NameError: name 'Len' is not defined

LIST SLICING

In [30]:
L2=["Python", 1212, 89+3j, 89.43, "deep"]
L2

['Python', 1212, (89+3j), 89.43, 'deep']

In [31]:
L2[1:4]

[1212, (89+3j), 89.43]

In [32]:
L2[::-1]

['deep', 89.43, (89+3j), 1212, 'Python']

In [33]:
L2[:-1]

['Python', 1212, (89+3j), 89.43]

In [37]:
len(L2)

5

In [38]:
L2

['Python', 1212, (89+3j), 89.43, 'deep']

In [40]:
L2[:-1]

#This is printing everything except the element which is at -1

['Python', 1212, (89+3j), 89.43]

In [42]:
L3=[12,23,41,452,98]
L3

[12, 23, 41, 452, 98]

In [43]:
max(L3)

452

In [45]:
min(L3)

12

In [47]:
import random

random.shuffle(L3)

In [48]:
L3

[452, 41, 23, 12, 98]

In [49]:
sum(L3)

626

In [50]:
l1=[10,20]
l2=[30,40]

In [53]:
l3=2*l1
print(l3)

#printing each element of the list l3 twice

[10, 20, 10, 20]

In [54]:
40 in l1

False

In [55]:
20 in l1

True

In [56]:
l1 is l2

False

In [57]:
l3 is l1

False

In [60]:
A="Apple"
B="Apple"
A is B


# In case of strings python creates only one string object and both A and B refer to same object.

True

In [62]:
A=["Apple"]
B=["Apple"]
A is B

# In case of list python creates two objects and both A and B refer to diffrent object
# Although the object is same

#Even if two lists are same python creates two diffrent objects

False

In [63]:
l1

[10, 20]

In [65]:
del l1[0]

In [66]:
l1

[20]

In [68]:
l1=l1 + "Deep"

TypeError: can only concatenate list (not "str") to list

In [69]:
l11=[10]
l1=l1+l11
l1

[20, 10]

LIST COMPREHENSIONS


List comprehension is used to create a new list from existing sequences. It is a tool tansforming a given list into another list.

Create a list to store five diffrent numbers such as 10, 20, 30, 40 and 50. Usin the for loop, add number 5 to the existing elements of the list

In [1]:
l1=[10,20,30,40,50]

In [2]:
#Using the FOR LOOP

for i in range(0, len(l1)):
    l1[i]=l1[i] + 5
print(l1)

[15, 25, 35, 45, 55]

In [4]:
#Using the List Comprehension

l1=[x+5 for x in l1]
l1

[25, 35, 45, 55, 65]

Create a list with elements 1,2,3,4 and 5. Display even elements from the list using list comprehension.

In [13]:
l1=[1,2,3,4,5]

In [14]:
l1=[1,2,3,4,5]
#print(l1)

l1=[x for x in l1 if x%2==0]
print(l1)

[2, 4]

# List Methods

append(object x)

Meaning: This add an element x to the end of the list. None is the return type of method appended.

In [16]:
l1=['x','y','z']
l1

['x', 'y', 'z']

In [17]:
l1.append('A')
l1

['x', 'y', 'z', 'A']

In [21]:
l1=['x','y','z']
l1

['x', 'y', 'z']

In [22]:
len(l1)

3

In [20]:
l1[len(l1):]=["A"]
l1

['x', 'y', 'z', 'A']

clear()

Meaning: Removes all the items from the list

In [23]:
l1

['x', 'y', 'z']

In [24]:
l1.clear()

In [25]:
l1

[]

count(object a)

Meaning: returns the number of times the element x appears in the list.

In [26]:
l=["A", "B", "A", 1,2, 1, 2, 1, "B"]
l

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B']

In [27]:
l.count("A")

2

In [29]:
l.count(1)

3

copy()

Meaning: This method returns a shallow copy of the list

In [30]:
l

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B']

In [31]:
l1=l.copy()

In [32]:
l1

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B']

In [33]:
l2=l[:]

In [34]:
l2

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B']

extend(list L2)

Meaning: Appends all the elements of list L2 to the list

In [35]:
l1

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B']

In [36]:
l2=["One", "Nation"]

In [37]:
l1.extend(l2)
l1

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

int index(object x)

Meaning: Returns the index of the first occurance of the element x from the list.

In [38]:
l1

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

In [39]:
l1.index(1)

3

In [40]:
l1.index('A')

0

In [41]:
l1.index('A')

0

In [43]:
l1.index(2)

4

insert(int object , object x)


Meaning: Insert the element at a given index.


Note: The index of the first element of a list is always zero.

In [44]:
l1

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

In [53]:
l1.insert(0, "world")
l1

['world', 'B', 'A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

In [46]:
l1.remove('world')
l1

['A', 'B', 'A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

object pop(i)

Meaning: Removes the element from the given position. Also, it returns the removed element.

Note: The parameters i is optional. It is it not specified then it removes the last element from the list.

In [58]:
l1.insert(0, "World")
l1

['World', 'World', 'B', 'A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

In [61]:
l1.pop(0)
l1

#Removes the element which is present at 0th index

['A', 1, 2, 1, 2, 1, 'B', 'One', 'Nation']

In [62]:
l1.pop()
l1

['A', 1, 2, 1, 2, 1, 'B', 'One']

remove(object x)

Meaning: Removes the first occurance of element x from the list.

In [63]:
l1

['A', 1, 2, 1, 2, 1, 'B', 'One']

In [64]:
l1.remove(1)

In [65]:
l1

['A', 2, 1, 2, 1, 'B', 'One']

In [66]:
l1.remove('A')

In [67]:
l1

[2, 1, 2, 1, 'B', 'One']

In [68]:
l1.remove(2)

In [69]:
l1

[1, 2, 1, 'B', 'One']

reverse()

Meaning: This will reverse all the element of the list

In [70]:
l1

[1, 2, 1, 'B', 'One']

In [71]:
l1.reverse()

In [72]:
l1

['One', 'B', 1, 2, 1]

sort()

Meaning: Sort the elements of the list

In [75]:
l1=["a","v","e","p","b"]

In [76]:
l1.sort()
l1

['a', 'b', 'e', 'p', 'v']

LIST AND STRINGS

In [80]:
d="Deepak"
d1=list(d)
d1

#converted the string into a list

['D', 'e', 'e', 'p', 'a', 'k']

In [77]:
A="One Nation One Skill"

In [78]:
B=A.split()
print(B)

['One', 'Nation', 'One', 'Skill']

In [82]:
C="Python - is - the best programming language".split('-')
print(C)

['Python ', ' is ', ' the best programming language']

## Passing LIST into a FUNCTION

In [84]:
l=[1,2,3,4,5]

def f(l):
    for i in l:
        print(i, end =' ')
f(l)

1 2 3 4 5

Question: Create a list of five elements. Pass the list to a function and compute the average of five numbers.

In [87]:
l=[1,2,3,4,5]

def f1(l):
    avg=sum(l)/len(l)
    print(avg)

f1(l)

3.0

Write a function Split_List(Lst, n) where list Lst is split into two parts and the length of the first part is given as n.

Lst=[1,2,3,4,5]
Split_List(Lst,2)
Lst1=[1,2]
Lst2=[3,4,5,6]

In [95]:
def Split_List(Lst,n):
    l1=Lst[:n]
    l2=Lst[n:]
    print('first list with', n, 'elements')
    print(l1)
    print('second list with', len(Lst) - n, 'elements')
    print(l2)
    
Lst=[100,22,32,43,51,64]
print(Lst)
Split_List(Lst, 4)

[100, 22, 32, 43, 51, 64]
first list with 4 elements
[100, 22, 32, 43]
second list with 2 elements
[51, 64]

In [97]:
Lst=[100,22,32,43,51,64]
l1=Lst[:2]
l1

#This is going to print the upto 2 elements of the list

[100, 22]

In [99]:
l2=Lst[2:]
l2

#this is going to print the elements 2 onwards

[32, 43, 51, 64]

In [1]:
Lst=[100,22,32,43,51,64]
len(Lst)

6

In [3]:
range(len(Lst))

range(0, 6)

In [4]:
list(range(len(Lst)))

[0, 1, 2, 3, 4, 5]

## Returning List from a function

We can pass a list while invoking a function. Similarly, a function can return a list. When a function returns a list, the list's reference value is returned.

In [8]:
# After passing, reverse the elements of the list and return the list.
Lst=[100,22,32,43,51,64]
def f1(Lst):
    print("the Lst before passing=", Lst)
    Lst.reverse()
    return Lst
print("the Lst after passing and reversing=", f1(Lst))

the Lst before passing= [100, 22, 32, 43, 51, 64]
the Lst after passing and reversing= [64, 51, 43, 32, 22, 100]

Write a function that accepts a positive integer k and returns a list that contains the first five multiples of k.

The first five multiple of 3 are 3, 5, 9, 12, 15.

In [18]:

def f2(k):
    l=[]
    for i in range(1,6):
        res=k*i
        l.append(res)
    return l
print(f2(3))

[3, 6, 9, 12, 15]

Write a function that accepts two positive integers, viz. a and b and returns a list of all the even numbers between a and b (including a and not including b).

In [23]:
def f3(a,b):
    l=[]
    for i in range(a,b):
        if i%2==0:
            l.append(i)
    return l

print(f3(10,20))

[10, 12, 14, 16, 18]

Write a function Lst_Palindrome(Lst) to check whether a list is palindrome. It should return True if Lst is palindrome and False if Lst is not palindrome.

In [56]:
Lst=[1,2,3,1,1]

def Lst_Palindrome(Lst):
    if Lst[:]==Lst[::-1]:
        print("True", end=' , ')
        print("Yes its is Palindrome =", Lst[::-1])
     
    else:
        print("False, its not a Palindrome: ", Lst)
        
        
Lst_Palindrome(Lst)

False, its not a Palindrome:  [1, 2, 3, 1, 1]

Write a function check_duplicate(Lst) which returns True if a list Lst contains duplicate elements. It should return False, if all the elements in the list Lst are unique.

Lst = [4,6,2,1,6,7,4] # this should return True and 4,6
Lst = [1,2,3,4] #this should return False

In [83]:
def check_duplicate(Lst):
    l=[]
    for i in Lst:
        if i not in l:
            l.append(i)
            
        else:
            return True
    

print(check_duplicate(Lst))
Lst = [6,2,1,6,7,4, 2]
print(Lst)

True
[6, 2, 1, 6, 7, 4, 2]

In [58]:
Lst = [4,6,2,1,6,7,4]
Lst.count(4)

2

In [59]:
len(Lst)

7

Write a program that prompts a user to enter the element of a list and add the element to a list. Write a function maximum(Lst) and minimum(Lst) to find the maximum and minimum number from the list.

Lst = [12, 34, 45, 77]

#should return 12 as Minimum and 77 as maximum

In [85]:
l=[]
for i in range(0,6):
    x=int(input("Enter element to add to the list:"))
    l.append(x)
print("Elements of the List  are as follows:")
print(l)

Enter element to add to the list:1
Enter element to add to the list:2
Enter element to add to the list:3
Enter element to add to the list:4
Enter element to add to the list:5
Enter element to add to the list:6
Elements of the List  are as follows:
[1, 2, 3, 4, 5, 6]

In [92]:
lst=[1, 2, 3, 4, 5, 6]

def maximum(lst):
    mymax=lst[0]
    for i in lst:
        if mymax<i:
            mymax=i
    return mymax
    
print(maximum(lst))

6

In [95]:
lst=[10, 2, 3, 4, 5, 6]

def minimum(lst):
    mymin=lst[0]
    for i in lst:
        if mymin>i:
            mymin=i
    return mymin
    
print(minimum(lst))

2

In [90]:
lst

[1, 2, 3, 4, 5, 6]

In [91]:
lst[0]

1

Write a function Assign_grade(Lst) which reads the marks of a student from a list and assigns a grade based on the following conditions:
    
if Marks >= 90 then grade A
if Marks >= 80 && then grade B
if Marks > && 65 < 80 then grade C
if Marks >= 40 && <= 65 then grade D
if Marks < 40 the grade F

Cosider the List of Marks of 5 students in English subject

Lst = [78, 90, 34, 56, 89]

In [103]:
def Assign_grade(Lst):
    for i in Lst:
        if i >= 90:
            print("Student", Lst.index(i) + 1,"Marks",   i, " grade A")
        elif i >= 80 and i <90:
            print("Student", Lst.index(i) + 1, "Marks", i, "  grade B")
        elif i >=65 and i < 80:
                  print("Student", Lst.index(i) + 1,"Marks", i , " grade C")
        elif i >= 40 and i < 65:
                  print("Student", Lst.index(i) + 1,"Marks", i, " grade D")
        else:
            print("Student", Lst.index(i) + 1, "Marks", i, " grade F")

Lst = [78, 90, 34, 56, 89]
Assign_grade(Lst)

Student 1 Marks 78  grade C
Student 2 Marks 90  grade A
Student 3 Marks 34  grade F
Student 4 Marks 56  grade D
Student 5 Marks 89   grade B

In [114]:
l=[1,2,3,4]
l.index(4)

3

Write a function print_reverse(Lst) to reverse the elements of a list.

Lst = [1,2,3,4]

In [128]:
def print_reverse(L):
    Lst=[]
    count = 1
    for i in range(0, len(L)):
        Lst.append(L[len(L) - count])
        count=count + 1
    return Lst

L=["dee",87.98,3,4]
print_reverse(L)

[4, 3, 87.98, 'dee']

In [125]:
L=[1,2,3,4]
L[3]

4

Write a function that accepts two positive integers a and b (a is smaller than b) and returns a list that contains all the odd numbers between a and b( including a and including b if applcable) in descending order.

In [141]:
def function(a,b):
    l=[]
    for i in range (a, b+1):
        if i % 2 !=0:
            l.append(i)
            l.sort()
            l.reverse()
            
    return l

function(1,10)

[9, 7, 5, 3, 1]

In [142]:
l=[9, 7, 5, 3, 1]

In [145]:
l.sort()
l
l.reverse()
l

[9, 7, 5, 3, 1]

Write a program to return prime numbers from a list.

In [151]:
def fun(Lst):
    l=[]
    for a in Lst:
        prime=True
        for i in range(2, a):
            if a%i ==0:
                prime = False
                break
        if prime:
            l.append(a)
    return l

Lst=[2,4,6,7, 9 , 12, 13, 14, 15, 17, 19]

fun(Lst)

[2, 7, 13, 17, 19]

# Review Questions

In [1]:
L=['a', 'b','c', 'd']

L=[ x for x in L if ord(x)>97]
print(L)

['b', 'c', 'd']

In [8]:
L1="abcdefghij"
L2=list(L1)
L2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [9]:
L2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
L2[0::3]

['a', 'd', 'g', 'j']

In [11]:
L2[0:-1]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [12]:
L2[0:2]

['a', 'b']

In [13]:
l=[1,2,3]
l=l + [4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [14]:
l=[ [n , n + 1, n + 2 ] for n in range(0,3)]

In [15]:
l

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [21]:
s="Deepak Tiwari"
k = [print (i) for i in s if i not in 'aeiou']
print(k)

D
p
k

T
w
r
[None, None, None, None, None, None, None]

In [25]:
l4=list(s)
l4

['D', 'e', 'e', 'p', 'a', 'k', ' ', 'T', 'i', 'w', 'a', 'r', 'i']

In [37]:
def f1(l4):
    l=['a', 'e', 'i', 'o', 'u']
    for num in l4:
        if num not in l:
            print(num, end = '')

    return num
        
    

print(f1(l4))

Dpk Twri

In [45]:
def f(L):
    L[0]='A'

L1=[1,2,3]
f(L1)
print(L1)

['A', 2, 3]

In [41]:
L1=[1,2,3]
L1[0]="A"
L1

['A', 2, 3]

In [48]:
L1=['A','B',3,4,5]
L1[::-1]
print(L1)

['A', 'B', 3, 4, 5]

In [49]:
l1=[]
l1.append(10)
l1

[10]

In [53]:
l1=[10,30]
l2=l1
l1[0]=40
print(l2)

[40, 30]

In [54]:
l1=["a", "b", "c"]
l2=["b", "a", "c"]
l1==l2

False

In [57]:
l1=['a','b','c','d','e']
l2=[1,2,3]

In [58]:
l1+l2

['a', 'b', 'c', 'd', 'e', 1, 2, 3]

In [59]:
l1=[100,200, 300, 400, 500]

In [60]:
min(l1)

100

In [61]:
max(l1)

500

In [62]:
sum(l1)

1500

In [64]:
l1.count(400)

1

In [65]:
l1.count(100) + l1.count(200)

2

In [66]:
l1.count(100)

1

In [67]:
l1.count(200)

1

In [68]:
l1.count(100) + l1.count(200)

2

In [71]:
l1=[12, 23, 45, 23]

In [73]:
l1*l1.count(23)

[12, 23, 45, 23, 12, 23, 45, 23]

In [74]:
l1.count(23)

2

In [75]:
l1*2

[12, 23, 45, 23, 12, 23, 45, 23]

In [77]:
l1

[12, 23, 45, 23]

In [78]:
l1[:] +l1

[12, 23, 45, 23, 12, 23, 45, 23]

In [79]:
l1+l1[-1:]

[12, 23, 45, 23, 23]

In [80]:
l1

[12, 23, 45, 23]

In [81]:
l1[-1:]

[23]

In [82]:
l1+l1[::]

[12, 23, 45, 23, 12, 23, 45, 23]

In [83]:
l1+l1[::-1]

[12, 23, 45, 23, 23, 45, 23, 12]

In [84]:
l=[10,23,5, 56, 78, 90]

In [85]:
l[:]

[10, 23, 5, 56, 78, 90]

In [86]:
l[0:4]

[10, 23, 5, 56]

In [87]:
l[:-1]

[10, 23, 5, 56, 78]

In [88]:
l[-1:]

[90]

In [89]:
l[-1]

90

In [90]:
l[::-1]

[90, 78, 56, 5, 23, 10]

In [92]:
l

[10, 23, 5, 56, 78, 90]

In [93]:
l[:-1:]

[10, 23, 5, 56, 78]

In [94]:
l[:-2:]

[10, 23, 5, 56]

In [99]:
l1=['a','b','c','d']
l2=[]+l1
l1[1]='f'
print(l1*l2)
print(l2)

#there is error in this code

TypeError: can't multiply sequence by non-int of type 'list'

Programming Assignment

Write a fucntion Replicate_n_times(Lst, n) to replicate the elements of a list n times, i.e. to replicate the elements of a list for a given number of times.

In [169]:

x = [1, 2, 3, 4]
n = 2
new = [item for item in x for i in range(n)]
new

[1, 1, 2, 2, 3, 3, 4, 4]

In [183]:
x=[1,2,3,4]
def f11(x,n):  
    l=[]
    for item in x:
        for i in range(n):
            l.append(item)
            
    return l

f11(x,2)

[1, 1, 2, 2, 3, 3, 4, 4]

In [1]:
range(2)

range(0, 2)

Write a program to count the occurance of each element within the list.

In [5]:
x=[1,2,3,4,1]

In [6]:
x.count(1)

2

In [31]:
l=[1,23,0,9,0,23]

In [57]:
def f(l):
    for i in l:
        s=l.count(i)
        print("number of times", i,"occured is: ", s)
    
    


l=[1,23,0,9,0,23]
f(l)

number of times 1 occured is:  1
number of times 23 occured is:  2
number of times 0 occured is:  2
number of times 9 occured is:  1
number of times 0 occured is:  2
number of times 23 occured is:  2

In [51]:
l

[1, 23, 0, 9, 0, 23]

In [38]:
l.count(0)

2

Write the function remove_negative(L) to remove the negative elements and return the positive elements from a list.

L=[-1,0,2,-4,12]
should return
L=[0,2,12]

In [60]:
def remove_negative(L):
    L1=[]
    for i in L:
        if i<0:
            pass
        else:
            L1.append(i)
    print L1

L=[-1,0,2,-4,12]
remove_negative(L)

[0, 2, 12]

Write a program to duplicate the elements of a list.

Lst = [1,2,3]

Should return

Lst= [1,1,2,2,3,3]

In [73]:
def duplicate(L):
    Lst=[]
    for a in L:
        for i in range(len(L)-(len(L)-2)):
            Lst.append(a)
    return Lst

L=[1,2,3,4]

duplicate(L)

[1, 1, 2, 2, 3, 3, 4, 4]

Write a program to check if an element of a list is a prime number. If it is prime, return True or else return False.

L=[3, 17, 9 , 2, 4, 8]

In [52]:
L=[3, 17, 9 , 2, 4, 8]
#L1=[]
for a in L:
    for i in range(2,a):
        if a%i!=0:
            print("True", end =' ')
            break
            
        else:
            print("False", end=' ')

True True True False True False True

Write a function remove_first_last(list) to remove the first and last element from a list.

List = [10,20,30,40,50]

should return [20,30,40]

In [68]:
L=[21323, 10, 1312414,20,30,1000,50, 313412]
def remove_first_last(L):
    L1=[]
    L.pop(0)
    L.pop(-1)
    L1.append(L)
    return L1

remove_first_last(L)

[[10, 1312414, 20, 30, 1000, 50]]

Write a function Extract_Even(L) to return all even numbers from a list.

In [72]:
List = [101,21,33,430,50]
def Extract_Even(List):
    L=[]
    for i in List:
        if i%2==0:
            L.append(i)
    return L

Extract_Even(List)

[430, 50]